<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MultiSourceTorrentDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  
  <appSettings>
    <add key="ThePirateBayUrl" value="https://thepiratebay.org/" />
    <add key="ThePirateBaySearchEndpoint" value="search" />
    
    <add key="LeetxUrl" value="https://1337x.to/" />
    <add key="LeetxSearchEndpoint" value="sort-search" />
    <add key="LeetxCategorySearchEndpoint" value="sort-category-search" />

    <add key="RargbUrl" value="https://rargb.to/" />
    <add key="RargbSearchEndpoint" value="search" />

    <add key="KickassUrl" value="https://kickasstorrents.to/" />
    <add key="KickassSearchEndpoint" value="search" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
