<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MultiSourceTorrentDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
  
  <appSettings>
    <add key="ThePirateBayUrl" value="https://thepiratebay.org/"/>
    <add key="ThePirateBaySearchEndpoint" value="search"/>
    
    <add key="LeetxUrl" value="https://1337x.to/"/>
    <add key="LeetxSearchEndpoint" value="sort-search"/>
    <add key="LeetxCategorySearchEndpoint" value="sort-category-search"/>
  </appSettings>
  <userSettings>
    <MultiSourceTorrentDownloader.Properties.Settings>
      <setting name="SortOptionEnum" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SortOptionName" serializeAs="String">
        <value />
      </setting>
      <setting name="WindowWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowStartupLocation" serializeAs="String">
        <value>CenterScreen</value>
      </setting>
      <setting name="WindowPositionTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowPositionLeft" serializeAs="String">
        <value>0</value>
      </setting>
    </MultiSourceTorrentDownloader.Properties.Settings>
  </userSettings>
</configuration>
