<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="101.0.18" targetFramework="net48" />
  <package id="cef.redist.x86" version="101.0.18" targetFramework="net48" />
  <package id="CefSharp.Common" version="101.0.180" targetFramework="net48" />
  <package id="CefSharp.Wpf" version="101.0.180" targetFramework="net48" />
  <package id="HtmlAgilityPack" version="1.11.42" targetFramework="net48" />
  <package id="MaterialDesignColors" version="2.0.6" targetFramework="net48" />
  <package id="MaterialDesignThemes" version="4.5.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="Ninject" version="3.3.5" targetFramework="net48" />
  <package id="RestSharp" version="107.3.0" targetFramework="net48" />
  <package id="Serilog" version="2.11.0" targetFramework="net48" />
  <package id="Serilog.Sinks.File" version="5.0.0" targetFramework="net48" />
  <package id="Syncfusion.Licensing" version="20.1.0.56" targetFramework="net48" />
  <package id="Syncfusion.SfInput.WPF" version="20.1.0.56" targetFramework="net48" />
  <package id="Syncfusion.SfShared.WPF" version="18.4.0.49" targetFramework="net48" />
  <package id="Syncfusion.Shared.WPF" version="20.1.0.56" targetFramework="net48" />
  <package id="Syncfusion.Tools.WPF" version="20.1.0.56" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Interactive.Async" version="6.0.1" targetFramework="net48" />
  <package id="System.Linq.Async" version="6.0.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reactive" version="5.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="6.0.4" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net47" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net47" />
</packages>